  <%- include("header"); -%>
    <div class="about">
      <h1>This is About Page</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        debitis, ipsam iste ipsum impedit aut voluptas eius quas eos dolorem
        officiis amet libero enim mollitia quos! Placeat distinctio sunt
        repudiandae numquam nulla, quaerat mollitia quos recusandae ullam
        facere? Culpa suscipit doloremque, fugit placeat magni eaque minima
        corporis, non provident quam impedit iusto atque nostrum commodi eius
        vel! Quam, provident. Aperiam, alias dicta similique tempore iste quis
        voluptatum nihil inventore! Voluptatibus, repudiandae. Maxime inventore
        dolorum ab corrupti dignissimos amet vero delectus, quos ea a in veniam
        aut dolores molestias tempore temporibus? Earum, consequatur nemo.
        Deserunt ducimus dicta modi iste doloribus praesentium rerum quibusdam
        inventore. Quis molestias officiis consequuntur magni ratione
        accusantium necessitatibus repellendus, illum aut assumenda, ullam
        deserunt et fugiat deleniti aliquam, nam iure odit consectetur vitae
        sunt. Nobis consequatur commodi eveniet error rem laboriosam atque ab
        pariatur, deleniti ratione, perferendis nam sint, illo laborum et
        explicabo iste possimus quaerat. Repudiandae reiciendis tempora ducimus
        ipsam quo sunt corrupti at eligendi, consequatur optio velit debitis
        molestiae distinctio sapiente mollitia tempore quasi soluta. Quo veniam
        modi deserunt accusamus sunt reiciendis! Pariatur culpa dolor nemo,
        recusandae iste quia beatae amet minus sed excepturi ex architecto
        incidunt, necessitatibus vel ipsam reprehenderit quae, debitis aperiam
        animi suscipit. Vel, nemo eos. Fugiat enim qui, neque quos molestias,
        optio ex libero ab repudiandae ut assumenda. Amet voluptatibus corrupti
        nisi aliquid fuga facilis similique dolorum saepe veniam dolorem. Ut
        dolor vel eos saepe, fugiat odio quam vitae ullam eaque! Deleniti
        numquam doloribus voluptates, sunt illum illo magnam itaque molestias
        cumque odio sequi dolore pariatur voluptatibus assumenda corrupti neque
        quas vitae explicabo, quo hic architecto, eos ipsa nam. Repellendus esse
        at quidem dolor ad impedit, odit aliquam temporibus eum corporis
        veritatis sequi voluptate ea iusto nesciunt non. Obcaecati a
        perspiciatis ipsam, voluptatum, dolores saepe ab reiciendis repudiandae
        aspernatur accusamus cupiditate!
      </p>
    </div>
    <%- include("footer"); -%>
  </body>
</html>
