<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do list</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <% if(dayName === "sunday"){ %>
      <h1>Its's a <%= dayName %></h1>
      <% } else{ %>
      <h1>Its's a <%= dayName %></h1>
      <% } %>
    </div>
       <div class="box" id="heading">
        <h1><%= pageName %> </h1>
      </div>
    <div class="box">
      <% for(let i = 0; i<listIt.length; i++) { %>
      <div class="item">
         <input type="checkbox" >
      <p><%= listIt[i] %></p>
      </div>
      
      <% } %>
    
   
    <form method="post" action="/" class="item">
      <input
        type="text"
        name="form_input"
        alt="input data"
        placeholder="Enter Your Todos"
        autocomplete="off"
      />
      <button type="submit">+</button>
    </form>
    </div>
  </body>
</html>
